body {
  padding: 30px;
  font-family: "Roboto", serif;
}

#date {
  font-size: 14px;
  text-align: left;
  color: #aaa;
  letter-spacing: 1px;
  margin-top: 12px;
  text-transform: uppercase;
}

#location {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  letter-spacing: 2px;
  margin-top: 5px;
}

#time {
  position: absolute;
  top: 50px;
  right: 30px;
  font-size: 15px;
  color: #aaa;
  letter-spacing: 2px;
}

#weather-icon {
  width: 250px;
  opacity: 0.8;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#temperature {
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

#weather {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #aaa;
  letter-spacing: 1px;
  margin-top: 5px;
}

#unit {
  font-family: Verdana, sans-serif;
}

#saturday {
  border-right: 2px solid #eee;
  flex: 1;
}

#sunday {
  border-right: 2px solid #eee;
  flex: 1;
}

#monday {
  border-right: 2px solid #eee;
  flex: 1;
}

#tuesday {
  flex: 1;
}

#more-info {
  max-width: 360;
  display: flex;
  justify-content: space-between;

  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  align-items: stretch;

  font-size: 17px;
  text-align: center;
}

.more-info-title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #aaa;
  margin-top: 5px;
  margin-bottom: 5px;
}

.more-info-img {
  width: 70%;
  opacity: 0.5;
  margin-left: auto;
  margin-right: auto;
}

.more-info-value {
  font-size: 20px;
  color: #777;
  letter-spacing: 1px;
  font-weight: bold;
}

.more-info-weather {
  font-size: 12px;
  color: #ddd;
  letter-spacing: 1px;
  margin-top: 5px;
  text-transform: uppercase;
}

#button {
  display: block;
  margin: auto;
  margin-top: 30px;
  background-color: #eee;
  opacity: 0.6;
  border: none;
  color: #777;
  padding: 6px 10px;
  font-size: 12px;
  text-transform: uppercase;
}

#button:hover {
  background-color: #ddd;
  cursor: pointer;
  transition: all 0.5s;
}
